.course-detail {
  padding: 5px 0;

  &__banner {
    height: 450px;
    background-image: url('../images/banner-course.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__join {
    padding: 30px 15px;

    &-title {
      color: #1668b2;
      margin-bottom: 0;
      font-size: 35px;
      text-align: center;
      font-weight: 700;
      padding: 30px 0;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }

    &-item {
      font-size: 18px;
      list-style-type: none;
      margin-bottom: 15px;

      &:before {
        content: "✓";
        display: inline-block;
        margin-left: -25px;
        width: 25px;
      }
    }
  }

  &__target {
    background: #003663;
    padding: 30px 0;

    &-title {
      color: #FFFFFF;
      margin-bottom: 0;
      font-size: 35px;
      text-align: center;
      font-weight: 700;
      padding: 30px 0;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }


    &-item {
      color: #FFFFFF;
      font-size: 18px;
      list-style-type: none;
      margin-bottom: 15px;

      &:before {
        content: "✓";
        display: inline-block;
        margin-left: -25px;
        width: 25px;
      }
    }

    &-subitem {
      margin-top: 15px;
      list-style: disc;
    }
  }

  &__content {
    padding: 50px 0;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/banner-content.jpg');
    position: relative;

    .z-height {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #1f1f1f;
      opacity: .7;
    }

    &-title {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      color: #FFFFFF;
      font-size: 35px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 50px;
    }

    &-item {
      background: #f7f7f7;
      border-radius: 5px;
      padding: 45px 50px 20px;
      min-height: 220px;
      position: relative;

      ul {
        padding-left: 0;

        li {
          list-style-type: none;
          font-size: 15px;
          margin-bottom: 10px;

          &::before {
            content: "→";
            display: inline-block;
            margin-left: -25px;
            width: 25px
          }
        }
      }
    }

    &-icon {
      background: #000000;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: -25px;
      left: 45%;

      i {
        margin-top: 15px;
        color: #FFFFFF;
        font-size: 20px;
      }
    }

    &-subtitle {
      color: #1668b2;
      font-size: 18px;
      text-align: center;
    }
  }

  &__time {
    padding: 30px 0;

    &-list {
      padding-left: 0;
    }

    &-item {
      font-size: 18px;
      list-style-type: none;
      margin-bottom: 15px;
    }
  }
}