.home {
  &__masthead {
    width: 100%;

    &-item {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: calc(60vh - 85px) !important;
    }

    .slick-arrow {
      z-index: 1;

      &:before {
        font-size: 30px;
        font-family: none;
        border: 1px solid #fff;
        padding: 8px
      }

      &.slick-prev {
        left: 0;

        &:before {
          border-left: none;
        }
      }

      &.slick-next {
        right: 27px;

        &:before {
          border-right: none;
        }
      }
    }

    &.slick-dotted {
      margin-bottom: 0 !important;
    }

    .slick-dots {
      bottom: 22px;

      li {
        margin: 0 15px;

        button {
          &:before {
            content: '';
            background-color: #fff;
            width: 40px;
            height: 2px;
            opacity: 0.5;
          }
        }

        &.slick-active {
          button {
            &:before {
              background-color: #f05a1a;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__heading {
    font-size: 38px;
    text-align: center;
    color: #003663;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: 600;
  }

  &__intro {
    background: url(../images/bg-earth.png) no-repeat fixed bottom center;
    background-size: cover;

    .home__heading {
      margin-bottom: 30px;
    }

    &-item {
      text-align: center;
    }

    &-number {
      font-size: 82px;
      font-weight: 700;
      color: #f05a1a;
    }

    &-desc {
      font-size: 20px;
    }
  }

  &__products {
    &-block {
      margin-top: -15px;
    }

    &-item {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;

      &:hover {
        .home__products-img-wrapper {
          opacity: 0.6;
        }
      }
    }

    &-img-wrapper {
      width: 100%;
      padding-top: 70%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      transition: .3s;
    }

    &-status {
      position: absolute;
      top: -15px;
      right: -15px;

      p {
        padding: 5px 20px;
        border-radius: 8px;
        color: #fff;
        border: 2px solid #fff;

        &.bg-green {
          background-color: green;
        }

        &.bg-orange {
          background-color: #f05a1a;
        }
      }
    }

    &-title {
      font-size: 18px;
      margin: 20px 0;
      display: inline-block;
      color: #000;
    }
  }

  &__group {
    &-block {
      margin-left: 0;
      margin-right: 0;
    }

    &-item {
      height: 295px;
      padding: 0;
      overflow: hidden;
      position: relative;
      border: 1px solid #fff;

      .overlay {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 20px;
        opacity: 0;
        transition: .3s;
        z-index: 1;
      }

      &:hover {
        .home__group-background {
          transform: scale(1.15, 1.15);
        }

        .overlay {
          opacity: 1;
        }
      }
    }

    &-background {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: .3s ease-out;
    }

    &-title {
      font-weight: 400;
      font-size: 22px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    &-desc {
      margin-bottom: 1.2rem;
      text-align: justify;
      @include text-ellipsis(15px, 1.5, 4);
    }

    &-btn-see-more {
      display: inline-block;
      padding: 8px 12px;
      border: 1px solid #fff;
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      position: relative;
      width: 140px;

      &:after {
        content: url(../images/arrow-white.png);
        position: absolute;
        top: 51%;
        right: 12px;
        transform: translateY(-50%);
        transition: .3s;
      }

      &:hover {
        padding-left: 30px;
        color: #fff !important;

        &:after {
          right: 120px;
        }
      }
    }
  }

  &__feedback {
    background: url(../images/feedback-wallpaper.jpg) no-repeat fixed center;
    background-size: cover;

    .home__heading {
      color: #fff;
    }

    &-item {
      outline: none;
    }

    &-content {
      width: 94%;
      margin: 0 auto 30px;
      padding: 20px;
      position: relative;
      background-color: #fff;

      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 38%;
        width: 0;
        height: 0;
        border-width: 25px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        transform: rotate(45deg);
      }
    }

    &-comment {
      height: 88px;
      overflow-y: auto;
      text-align: justify;
    }

    &-job {
      text-align: right;
      font-size: 12px;
      font-style: italic;
      margin-bottom: 2px;
    }

    &-name {
      text-align: right;
      font-weight: 600;
      margin-bottom: 0;
    }

    &-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: cover;
      margin: auto;
      border: 1px solid #fff;
    }

    .slick-dots {
      bottom: -60px;

      li {
        margin: 0 15px;

        button {
          &:before {
            content: '';
            background-color: #fff;
            width: 40px;
            height: 2px;
            opacity: 0.5;
          }
        }

        &.slick-active {
          button {
            &:before {
              background-color: #f05a1a;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__contact {
    background: url(../images/bg-earth.png) no-repeat fixed bottom center;
    background-size: cover;
    text-align: center;

    &-desc {
      color: #003663;
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    &__group {
      &-item {
        height: 265px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    &__intro {
      .home__subhead {
        max-width: 90%;
      }
    }

    &__feedback {
      &-content {
        width: 92%;

        &:after {
          left: 32%;
          bottom: -18px;
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    &__intro {
      .home__subhead {
        max-width: 100%;
      }
    }

    &__group {
      &-item {
        height: 275px;
      }
    }

    &__feedback {
      &-content {
        width: 90%;

        &:after {
          left: 24%;
          bottom: -18px;
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    &__heading {
      font-size: 30px;
      margin-bottom: 40px;
    }

    &__masthead {
      &-item {
        height: 400px !important;
      }
    }

    &__intro {
      .home__subhead {
        max-width: 100%;
      }

      &-number {
        margin-bottom: 0;
      }
    }

    &__products {
      .text-right {
        text-align: center !important;
      }
    }

    &__group {
      &-item {
        height: 275px;
      }
    }

    &__feedback {
      &-content {
        width: 90%;

        &:after {
          bottom: -18px;
          left: 28%;
        }
      }
    }
  }
}