html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  color: #2c3e50;
}

.box-spacing {
  padding: 20px 0px 50px;
}

.bg-blue {
  background: #1668b2;
}

@mixin text-ellipsis($font-size, $line-height, $lines-to-show) {
  display: block;
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.box {
  padding: 60px 0;
}

a {
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: #003663;
    text-decoration: none;
  }
}

.bg-light-grey {
  background-color: #fafafa;
}

.btn-custom {
  text-transform: uppercase;
  background-color: transparent;
  color: #1668b2;
  position: relative;
  z-index: 0;
  border-color: #1668b2;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 4px;
  overflow: hidden;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    padding-top: 5%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    background: #1668b2;
    border-radius: 50%;
    transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
  }

  &:hover {
    color: #fff;

    &:before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(32);
    }
  }

  &:focus {
    box-shadow: none;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.all {
  display: block !important;
}

@media screen and (max-width: 575px) {
  .box {
    padding: 40px 0;
  }

  .btn-custom {
    width: 100%;
  }
}