{{#> default}}
{{#*inline "content-body"}}
<section class="section course-detail">
  <div class="course-detail__banner"></div>

  <div class="container course-detail__join">
    <h4 class="course-detail__join-title"> Đối tượng tham gia</h4>
    <div class="row justify-content-center">
      <ul class="col-md-8">
        <li class="course-detail__join-item">Các thành viên là Developer có mong muốn mở rộng thêm kiến thức về mảng
          Testing để đảm bảo
          chất lượng công việc.</li>
        <li class="course-detail__join-item">Lưu ý: Học viên cần cam kết dành được thời gian cho việc học tập (trên
          lớp cũng như làm
          bài tập về nhà)</li>
      </ul>
    </div>
  </div>

  <div class="course-detail__target">
    <div class="container">
      <h4 class="course-detail__target-title">Mục tiêu tổng quát</h4>
      <div class="row justify-content-center">
        <ul class="col-md-8 course-detail__target-description">
          <li class="course-detail__target-item">Trang bị các kỹ năng testing cơ bản, dễ thực hiện mà mang lại hiệu
            quả cao.
            <ul>
              <li class="course-detail__target-subitem">Học viên nắm được các kiến thức cơ bản được truyền tải.</li>
              <li class="course-detail__target-subitem">Có tư tưởng vận dụng vào công việc (tự self test đảm bảo chất
                lượng output của cá nhân)</li>
            </ul>
          </li>
          <li class="course-detail__target-item">Sau khóa học thì học viên có thể tự đảm bảo được cơ bản chất lượng
            đầu ra của mình, không để
            phát sinh các lỗi normal.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-detail__time">
    <h4 class="course-detail__join-title">Thời lượng</h4>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <ul class="course-detail__time-list">
            <li class="course-detail__time-item">
              Trong chương trình tiêu chuẩn, người học sẽ tham gia 10 buổi học tập trung (mỗi buổi 2 giờ) và thời gian
              tự học ở nhà (học online, làm bài tập về nhà và tự nghiên cứu thêm).</li>
            <li class="course-detail__time-item">
              Mỗi buổi học cách nhau 1 tuần để trống cho thời gian tự học, và áp dụng các nội dung học được từ chương
              trình đào tạo vào công việc thực tiễn của học viên.</li>
            <li class="course-detail__time-item">Thời gian học: (lịch dự kiến) 18h30 – 20h30, thứ 3 hàng tuần. Từ
              02/04/2019 đến 11/06/2019.
            </li>
            <li class="course-detail__time-item">Địa điểm:( Dự kiến) Phòng họp Kaizen, tầng 4.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary">Đăng kí ngay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="course-detail__content">
    <div class="container z-height">
      <h4 class="course-detail__content-title">NỘI DUNG KHÓA HỌC</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="course-detail__content-item">
            <span class="course-detail__content-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
            <h4 class="course-detail__content-subtitle">Lý thuyết</h4>
            <ul>
              <li>Giới thiệu về Testing, tổng quan về phân tích yêu cầu</li>
              <li>Giới thiệu về test case, các kỹ thuật thường dùng để viết Test case</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="course-detail__content-item">
            <span class="course-detail__content-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
            <h4 class="course-detail__content-subtitle">Thực hành</h4>
            <ul>
              <li>Thực hành trên dự án mẫu</li>
              <li>Thảo luận Case study điển hình</li>
              <li>Áp dụng trong dự án thực tế</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="course-detail__content-item">
            <span class="course-detail__content-icon"><i class="fa fa-superpowers" aria-hidden="true"></i></span>
            <h4 class="course-detail__content-subtitle">Follow up sau đào tạo</h4>
            <ul>
              <li>Chia sẻ khó khăn và các bài học kinh nghiệm khi áp dụng</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/inline}}
{{/default}}