<!-- Begin Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__contact">
      <h4 class="footer__contact-title">Contact Us</h4>
      <div class="row">
        <div class="col-md-6 footer__item">
          <h4 class="footer__contact-subtitle">Training Office</h4>
          <p class="footer__contact-detail"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; 6th Floor, Sudico
            Building (HH3), Me Tri Street, Nam Tu Liem District, Hanoi
            City, Vietnam</p>
        </div>
        <div class="col-md-6 footer__item">
          <p class="footer__contact-detail">Mọi thông tin đóng góp ý kiến vui lòng gửi về bộ phận Đào tạo và phát
            triển qua emailp: ntq.training@ntq-solution.com.vn !</p>
        </div>
      </div>
    </div>
    <div class="row footer__bottom">
      <div class="col-md-8">
        <img src="../../../images/logo-footer.png" alt="">
        <span class="footer__copyright">Copyright © NTQ Solution 2018</s>
      </div>
      <div class="col-md-4 footer__icon">
        <a href="https://www.facebook.com/NtqSolutionJsc">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a> &nbsp;
        <a href="https://plus.google.com/117686272349981988742">
          <i class="fa fa-google-plus-square"></i>
        </a>&nbsp;
        <a href="http://www.ntq-solution.com.vn/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->