<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else if sitemap.title}}
        {{sitemap.title}}
      {{else}}
        TRN Department - NTQ Solution
      {{/if}}
    </title>

    <meta charset="utf-8">
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="GENERATOR" content="MSHTML 11.00.9600.18838">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <link href="libs/slick/slick-theme.css" rel="stylesheet">
    <link href="libs/slick/slick.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="85">
    {{> components/header}}

    <main class="main">
      {{#> content-body}}
      {{/content-body}}
    </main>

    {{> components/footer}}

    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>

</html>
